<p style="text-align: center; font-size: 24px;">Welcome to the course</p>

# INTRODUCTION TO COMPUTER SCIENCE WITH PYTHON

## LESSON 1: assignment of variables, arithmetic expressions, print statement

## Terminology
**Variable**: a name that refer to a variable  
**assignment**: statement that assign a value to a variable   
**expression**: a combination of variables  
**statement**: a section of code that represent a command or action. e.g. print statement, assign statement  
**print statement**: an instruction that causes Python interpreter to display a value on the screen  
**"+,-,*,/,**"** are operators

# ARITHMETIC OPERATIONS

We can use python interpreter to perform arithmetic operations

In [161]:
5+3

8

In [163]:
(5-4)/2

0.5

Let's now see some operators

## ARITHMETICS OPERATORS

| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |

Operators have their own **precedence rules** (similar to those in mathematics). To change these precedences, parentheses are used. An important difference is that in Python **only round parentheses** are used for this purpose: we can open as many as we want, one inside the other: we just need to remember to close them! Forgetting to close an open parenthesis is a rather common mistake.
Let's see some examples:

| **Math** | **Python** |  |
|----------------|------------|--|
| $( 3(2+5) )$   | `3 * (2 + 5)`  | It is necessary to write the `*` even when it is implicit in mathematics |
| $(\frac{5}{4^2 - 6})$   | `5 / (4 ** 2 - 6)` | Division has a higher priority than subtraction so parentheses are needed. |
| $(\left( \frac{1}{4} + 2 \left[ \frac{1}{5} - \left( 1 + \frac{1}{3} \right) \right] \right)^2 )$   | `(1 / 4 + 2 * (1 / 5 - (1 + 1 / 3))) ** 2` | Three open and three closed round brackets |
| A circular platform rotates through an angle of 165° 12 times in a row. What angle will it finally form with respect to the starting position?| `(165 * 12) % 360` | The `%` operator is often used for numbers that can only take on a limited set of values ​​(e.g. angles, hours of day, etc.) |

In [180]:
(1 / 4 + 2 * (1 / 5 - (1 + 1 / 3))) ** 2

4.066944444444444

## VARIABLES
A **variable** is a symbolic name that refers to a value stored in memory. Variables allow you to store data and reuse it throughout your code. When you create a variable, you assign it a value using the = operator.

In [7]:
a = 10      # a is the name of the VARIABLE, a=10 is an ASSIGNMENT
b = 10*2-4  # 10*2-4 is an EXPRESSION, b = 10*2-4 is an ASSIGNMENT
print(b)    # this is a PRINT STATEMENT

16

In [35]:
c = a /b 
print(c)

0.625

In [58]:
d = a**2-2+3
print("The result is: ",d)

The result is:  101

In [124]:
a1 = 30
b1 = 12
a1//b1   # this gives the quotient removing the fractional part

2

In [134]:
a1 = 8
b1 = 3
a1%b1   # this gives the modulus, the integer remainder after the division of a1 and b1

2

Let's see how to insert a **COMMENT** in a script with the symbol **#**

In [68]:
a = 10      # this is a comment and I can write a description of the command. 
            # for example now I'm assigning the value 10 to the variable a

Let's calculate the area of a triangle

In [72]:
base = 10
high = 20
area = base * high /2
print (area)

100.0

What if I want to input from keyboard the value of the base and high?
I can use the command **input** and the command **float**

In [88]:
base = float(input("Insert the base: "))
base = float(input("Insert the high: "))
area = base * high /2
print ("The area of the triangle is: ",area)

Insert the base:  10
Insert the high:  20

The area of the triangle is:  200.0

I can also assign to a variable a set of **CHARACTERS** that form a **STRING**

In [92]:
school = "IIS Guidona"   # I assign the string "IIS GUIDONIA" to the variable school
print (school)

IIS GUidona

I can perform operations between strings. The **+** operator **concatenates** two strings

In [111]:
a = "The name of this course is: "
b = "Introduction to Computer Scientist with Python"
c = a + b
print(c)

The name of this course is: Introduction to Computer Scientist with Python